

.main-heading-banner{
    width: 100%;
    background-image: url(./media/sectors-image.png);
    background-position: center;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.banner-container{
    max-width:1152px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.sectors-banner{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.get-in-touch-banner{
    width: 100%;
    background-image: url(./media/helpdesk-bg-image.png);
    background-position: center;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.icon-upper-container{
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;
}
.icon-column{
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap:30px;
    width: 32%;
}
.icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: start;
    padding:20px;
    border-radius: 20px;
    gap:15px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
.get-in-touch-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 1152px;
}
.contact-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width:1152px;
    padding: 50px; 
    border-radius: 10px;
}
.contact-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    width: 100%;
}

.text-center{
    text: center;
}
.text-white{
    color: white;
}
.mh-text{
    font-size: 4rem;
    font-weight: bold;
}
.st-text{
    font-size: 3rem;
    flex-wrap: wrap;
}
.sh-text{
    font-size: 1.3rem;
    font-weight: bold;
    color: #4d5a6d;
}
.ssh-text{
    color: #81909a;
    text-align: center;
    height: 200px;
}

.icon-image{
    height: 100px;
    width: 100px;
}
.input-box{
    background-color: white;
    border: none; 
    padding: 20px 200px 20px 20px;
    border-radius: 3px;
}


#main-heading{
    max-width: 1152px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}


/* MEDIA QUERIES */

/* Screen sizes 991px AND BELOW */
@media (max-width: 991px){
    .main-heading-banner{
        height: 400px;
    }
    .mh-text{
        font-size: 3rem;
    }
    .icon-upper-container{
        flex-direction: column;
    }
    .icon-column{
        width: 70%;
    }
    
}

