

.main-heading-banner{
    width: 100%;
    background-image: url(./media/sectors-image.png);
    background-position: center;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}




.text-center{
    text: center;
}
.text-white{
    color: white;
}
.mh-text{
    font-size: 4rem;
    font-weight: bold;
}
.sh-text{
    font-size: 1.5rem;
}



#main-heading{
    max-width: 1152px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}


/* MEDIA QUERIES */

/* Screen sizes 991px AND BELOW */
@media (max-width: 991px){
    .main-heading-banner{
        height: 400px;
    }
    .mh-text{
        font-size: 3rem;
    }
}

